<div class="row">
	<div class="small-12 columns">
		<h1>Editing etl_object_rule</h1>
		<div class="small-12 medium-6 columns">
			<%= render 'form' %>

			<%= link_to 'Show', @etl_object_rule %> |
			<%= link_to 'Back', etl_object_rules_path %>
		</div>
	</div>
</div>