</div>
	<div class="visualizer row" style="min-height:500px;max-width:none;">
		<div class="small-12 columns">
			<div class="pan">
				<h3 class="text-center">Object Rules</h3>
				<table cellspacing="0">
					<tr><th class="text-center">ActionKit</th><th class="text-center">SalesForce</th><th></th></tr>
					<% @etl_object_rules.each do |rule| %>
						<tr>
							<td><input type="text" class="radius" value="<%= rule.extract_object %>" readonly /></td>
							<td><input type="text" class="radius" value="<%= rule.load_object %>" readonly /></td>
							<td><button class="button inline radius">Fields</button></td>
						</tr>
					<% end %>
						<tr>
							<td><input id="extract-input" type="text" class="radius typeahead" /></td>
							<td><input id="load-input" type="text" class="radius" /></td>
							<td><button class="button inline radius">Save</button></td>
						</tr>
					</table>
				<button id="new-rule" class="button radius">New Object Rule</button><button class="button radius">Edit Object Rules</button>
			</div>
		</div>
	</div>
<div class="application container">
<!--
Begin loading stuff asynchronously
-->
<script type="text/javascript">

	$('#new-button').click(function(){

	});


	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substrRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        // the typeahead jQuery plugin expects suggestions to a
	        // JavaScript object, refer to typeahead docs for more info
	        matches.push({ value: str });
	      }
	    });
	 
	    cb(matches);
	  };
	};


	$('#extract-input').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'ActionKitTables',
	  displayKey: 'value',
	  source: substringMatcher(gon.actionKitTables)
	});
	$('#load-input').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'SalesForceObjects',
	  displayKey: 'value',
	  source: substringMatcher(gon.salesForceObjects)
	});


</script>

