<div class="row">
  <div class="small-12 columns">
    <div class="pan">
      <h3 class="text-center">Object Rules</h3>
      <table cellspacing="0">
        <tr><th>ActionKit Table</th><th>SalesForce Object</th><th></th></tr>
        <% @etl_object_rules.each do |rule| %>
          <tr>
            <td><%= rule.extract_object %></td>
            <td><%= rule.load_object %></td>
            <td><button class="button inline radius">Fields</button></td>
          </tr>
        <% end %>
        </table>
        <div class="row">
          <div class="small-12 columns text-right">
            <button class="button radius">Edit Object Rules</button>
            <%= link_to  "New Object Rule", new_etl_object_rule_url, class: 'button radius' %>
          </div>
        </div>
    </div>
  </div>
</div>

<style>
  table
  {
    border-color: #ccc;
  }
  td
  {
    border-bottom: 1px solid;
    border-color: inherit;
  }
  th
  {
    border-bottom: 1px solid;
    border-color: #999;
  }
</style>