<div class="row">
	<div class="small-12 medium-6 columns">
		<h1>New ETL Object Rule</h1>
		<div class="panel">
		<%= render 'form' %>
		</div>
		<%= link_to 'Back', etl_object_rules_path %>
	</div>
</div>