<div class="row">
	<div class="small-12 columns">
		<h1>Edit Object Rule</h1>
		<div class="small-12 columns">


			<%= link_to 'Show', @object_rule %> |
			<%= link_to 'Back', object_rules_path %>
		</div>
	</div>
</div>